<template>
  <v-app v-resize="handle_screen_resized">
    <template v-if="constants_loaded">
      <v-content>
        <router-view/>
      </v-content>
    </template>
    <template v-else-if="constants_loaded === null">
      <v-app>
        <v-content>
          <v-container fill-height>
            <v-layout fill-height row wrap align-center>
              <v-flex text-xs-center>
                <v-progress-circular color="indigo" size="100" indeterminate/>
              </v-flex>
            </v-layout>
          </v-container>
        </v-content>
      </v-app>
    </template>
    <template v-else>
      <e500/>
    </template>
  </v-app>
</template>
<script>
  import {mapState} from 'vuex'
  import E500 from '../errors/e500'

  export default {
    components: {E500},
    data () {
      return {}
    },
    computed: {
      ...mapState('Common', {
        constants_loaded: 'constants_loaded'
      })
    },
    methods: {
      async load_common_data () {
        // const response = await this.$services.entrance.get_constants()
        // if (response.status === 200) {
        //   // success
        //   let auth_user = response.data.auth_user
        //   if (auth_user) this.$store.commit('User/auth_user', auth_user)
        //   this.$store.commit('Common/loading_constants_success', response.data.constant_data)
        //   return
        // }
        // if (response.status >= 500) {
        //   // error, get cached data then do nothing
        //   this.$store.commit('Common/constants_loaded', false)
        // }
        this.$store.commit('Common/constants_loaded', true)
      },
      handle_screen_resized () {
        let width = window.innerWidth
        let height = window.innerHeight
        let size = this.$utils.get_window_size(width)
        this.$store.commit('Device/screen_resized', {width, height, size})
      }
    },
    created () {
      this.load_common_data()
    }
  }
</script>
