<template>
    <v-container grid-list-md fluid class="pa-0" fill-height>
        <v-layout column fill-height class="ma-0">
            <template v-if="!!campaign.id">
                <v-flex align-center fill-height class="pa-0">
                    <template v-if="campaign.type === 'image'">
                        <image-campaign :query="paramsAP" :campaign="campaign"/>
                    </template>
                    <template v-else-if="campaign.type === 'video'">
                        <video-campaign :query="paramsAP" :campaign="campaign"/>
                    </template>
                    <template v-else>
                        <survey-campaign :query="paramsAP" :campaign="campaign"/>
                    </template>
                </v-flex>
            </template>
            <template v-else>
                <template v-if="status.fetching">
                    <v-flex text-xs-center>
                        <v-progress-circular color="indigo" indeterminate/>
                    </v-flex>
                </template>
                <template v-else>
                    <v-layout align-center>
                        <v-alert
                                :value="true"
                                color="warning"
                                icon="priority_high"
                                outline
                        >
                            {{errorMessage}}
                        </v-alert>
                    </v-layout>
                </template>
            </template>
        </v-layout>
    </v-container>
</template>
<script>
    import VideoCampaign from '../../components/campaign/video'
    import ImageCampaign from '../../components/campaign/image'
    import SurveyCampaign from '../../components/campaign/survey'
    import splashService from '@/services/splash'
    import cloneDeep from 'lodash/cloneDeep'
    import deviceDetect from 'mobile-device-detect'
    import Raven from 'raven-js'

    export default {
        components: {SurveyCampaign, VideoCampaign, ImageCampaign},
        data() {
            return {
                campaign: {},
                status: {
                    fetching: false
                },
                paramsAP: {},
                errorMessage: ''
            }
        },
        methods: {
            async getSplash() {
                this.status.fetching = true
                let data = {
                    device_type: this.checkDevice(),
                    ...this.paramsAP
                }
                try {
                    const res = await splashService.get(data)
                    this.campaign = res.banner
                    this.$store.commit('Campaign/fetch_splash', cloneDeep({
                        ...res.banner,
                        access_point_device_id: res.access_point_device_id,
                        login_url: this.paramsAP.login_url
                    }))
                    this.paramsAP = {
                        ...this.paramsAP,
                        access_point_device_id: res.access_point_device_id,
                        redirect_url: res.banner.redirect_url,
                        campaign_id: res.banner.campaign_id,
                        type: res.banner.type
                    }
                    this.status.fetching = false
                } catch (e) {
                    this.logException(e, 'GET SPLASH')
                    this.errorMessage = (e && e.response) ? (e.response.data.message || e.response.data) : 'Có lỗi xảy ra!'
                    this.status.fetching = false
                }
            },
            logException(ex, context) {
                Raven.captureException(ex, {
                    extra: context
                });
            },
            checkDevice() {
                if (deviceDetect.isMobileOnly) return 'mobile'
                if (deviceDetect.isTablet) return 'tablet'
                return 'desktop'
            }
        },
        beforeMount() {
            let params = this.$route.query
            this.paramsAP = params
            this.getSplash()
        }
    }
</script>
