<template>
  <div class="video-player vjs-big-play-centered" v-if="reseted">
    <video class="video-js" ref="video" playsinline></video>
  </div>
</template>

<script>
  // lib
  import videojs from 'video.js'
  // videojs style
  import 'video.js/dist/video-js.css'

  // as of videojs 6.6.0
  const AVAILABLE_EVENTS = [
    'loadstart',
    'progress',
    'suspend',
    'abort',
    'error',
    'emptied',
    'stalled',
    'loadedmetadata',
    'loadeddata',
    'canplay',
    'canplaythrough',
    'playing',
    'waiting',
    'seeking',
    'seeked',
    'ended',
    'durationchange',
    'timeupdate',
    'play',
    'pause',
    'ratechange',
    'resize',
    'volumechange'
  ]

  // export
  export default {
    name: 'vue-player',
    props: {
      start: {
        type: Number,
        default: 0
      },
      crossOrigin: {
        type: String,
        default: ''
      },
      playsinline: {
        type: Boolean,
        default: false
      },
      options: {
        type: Object,
        required: true
      },
      default_options: {
        type: Object,
        default: () => ({
          autoplay: true,
          controls: false,
          preload: 'auto',
          controlBar: {
            remainingTimeDisplay: false,
            playToggle: {},
            progressControl: {},
            fullscreenToggle: {},
            volumeMenuButton: {
              inline: false,
              vertical: true
            }
          },
          techOrder: ['html5'],
          plugins: {},
          fluid: true
        })
      }
    },
    data () {
      return {
        player: null,
        reseted: true
      }
    },
    mounted () {
      if (!this.player) {
        this.initialize()
      }
    },
    beforeDestroy () {
      if (this.player) {
        this.dispose()
      }
    },
    methods: {
      initialize () {

        // videojs options
        const videoOptions = Object.assign({}, this.default_options, this.options)

        // ios fullscreen
        if (this.playsinline) {
          this.$refs.video.setAttribute('playsinline', this.playsinline)
          this.$refs.video.setAttribute('webkit-playsinline', this.playsinline)
          this.$refs.video.setAttribute('x5-playsinline', this.playsinline)
          this.$refs.video.setAttribute('x5-video-player-type', 'h5')
          this.$refs.video.setAttribute('x5-video-player-fullscreen', false)
        }

        // cross origin
        if (this.crossOrigin !== '') {
          this.$refs.video.crossOrigin = this.crossOrigin
          this.$refs.video.setAttribute('crossOrigin', this.crossOrigin)
        }

        // emit event
        const emitPlayerState = ($event) => {
          this.$emit($event.type, $event)
        }

        // avoid error "VIDEOJS: ERROR: Unable to find plugin: __ob__"
        if (videoOptions.plugins) {
          delete videoOptions.plugins.__ob__
        }

        // videoOptions
        // console.log('videoOptions', videoOptions)

        // player vue component
        const el = this
        this.player = videojs(this.$refs.video, videoOptions, function () {

          AVAILABLE_EVENTS.forEach(event => {
            this.on(event, emitPlayerState)
          })

        })
        this.player.ready(function () {
          el.$emit('ready', this)
        })
      },
      dispose (callback) {
        if (this.player && this.player.dispose) {
          if (this.player.techName_ !== 'Flash') {
            this.player.pause && this.player.pause()
          }
          this.player.dispose()
          this.player = null
          this.$nextTick(() => {
            this.reseted = false
            this.$nextTick(() => {
              this.reseted = true
              this.$nextTick(() => {
                callback && callback()
              })
            })
          })
          /*
          if (!this.$el.children.length) {
            const video = document.createElement('video')
            video.className = 'video-js'
            this.$el.appendChild(video)
          }
          */
        }
      }
    },
    watch: {
      options: {
        deep: true,
        handler (options, oldOptions) {
          this.dispose(() => {
            if (options && options.sources && options.sources.length) {
              this.initialize()
            }
          })
        }
      }
    }
  }
</script>
