<template>
    <v-layout row wrap class="ma-0">
        <v-flex xs12 class="pa-0">
            <v-img :aspect-ratio="image_ratio"
                   :src="image_url"
                   class="mb-4">
                <template v-slot:placeholder>
                    <v-layout fill-height align-center justify-center ma-0>
                        <v-progress-circular indeterminate color="grey lighten-5"/>
                    </v-layout>
                </template>
                <v-layout fill-height align-end justify-center>
                    <div style="width: 100%;display: flex;
    justify-content: center;" class="text-xs-center"
                         @click="goTo()">
                        <scroll-down/>
                    </div>
                </v-layout>
            </v-img>
        </v-flex>
        <v-flex xs12>
            <move-to-auth id="btnAuth" mode="responsive" :query="query"/>
        </v-flex>
    </v-layout>
</template>
<script>
    import {mapState} from 'vuex'
    import MoveToAuth from './move_to_auth'
    import ScrollDown from '../scroll-down'

    export default {
        components: {
            MoveToAuth,
            ScrollDown
        },
        props: {
            campaign: {type: Object, required: true},
            query: {type: Object, required: true}
        },
        data() {
            return {
                image_ratio: 16 / 9
            }
        },
        methods: {
            goTo () {
                this.$vuetify.goTo('#btnAuth')
            }
        },
        computed: {
            ...mapState('Device', {
                screen_size: 'size',
                screen_width: 'width',
                screen_height: 'height'
            }),
            image_url() {
                let result = null
                if (['xl', 'lg', 'md'].includes(this.screen_size)) {
                    result = this.campaign.images.desktop
                } else {
                    result = this.campaign.images.mobile
                }
                return result || this.common_data.no_image_url
            }
        },
        beforeMount() {
            this.image_ratio = this.screen_width / this.screen_height
        }
    }
</script>
