<template>
    <v-layout row justify-center class="ma-0 mb-3">
        <template v-if="mode === 'fullwidth'">
            <v-flex text-xs-center xs12 class="pa-0">
                <v-btn :class="`v-btn--${button_size}`" class="mb-2" color="indigo" block dark
                       @click="loginPhone">
                    <span>Tiếp tục dùng Wifi miễn phí</span>
                </v-btn>
            </v-flex>
        </template>
        <template v-else>
            <v-flex text-xs-center xs12 sm8 md6 lg4 class="pa-0">
                <v-btn :class="`v-btn--${button_size}`" class="mb-2" color="indigo" dark block
                       @click="loginPhone">
                    <span>Tiếp tục dùng Wifi miễn phí</span>
                </v-btn>
            </v-flex>
        </template>
    </v-layout>
</template>
<script>

    export default {
        props: {
            mode: {type: String, default: 'fullwidth'},
            button_size: {type: String, default: 'normal'},
            query: {type: Object, required: true}
        },
        data() {
            return {
                nextScreen: false
            }
        },
        methods: {
            loginPhone() {
                this.$store.commit('Campaign/seen')
                this.$router.push({name: 'Auth', query: this.query})
            }
        }
    }
</script>
