<template>
    <v-layout row justify-center wrap ma-0>
        <v-flex xs12 pa-0>
            <v-header/>
        </v-flex>
        <v-flex xs12 sm8 md6 lg4 class="mt-2 section-content">
            <v-card flat class="pa-2">
                <template v-if="survey_form.passed">
                    <v-layout row wrap>
                        <v-flex xs12 id="thankful-image">
                            <v-img class="mb-2" :aspect-ratio="16/9"
                                   :src="image_url">
                                <template v-slot:placeholder>
                                    <v-layout fill-height align-center justify-center ma-0>
                                        <v-progress-circular indeterminate color="grey lighten-5"/>
                                    </v-layout>
                                </template>
                            </v-img>
                            <h4>Cảm ơn bạn đã tham gia khảo sát, hãy tiếp tục để sử dụng Wifi miễn phí.</h4>
                        </v-flex>
                        <v-flex xs12 id="move-to-auth" class="mt-4">
                            <move-to-auth :query="query" mode="fullwidth"/>
                        </v-flex>
                    </v-layout>
                </template>
                <template v-else>
                    <v-layout row wrap>
                        <v-flex xs12>
                            <h3 class="pa-2">Hãy trả lời các câu hỏi khảo sát để bắt đầu sử dụng Wifi miễn phí.</h3>
                        </v-flex>
                        <v-flex xs12 v-for="(question, index) in campaign.questions">
                            <div class="pa-2">
                                <h3>{{index + 1}}. {{question.text}}</h3>
                                <template v-if="question.type === 'check_box'">
                                    <v-checkbox v-for="item in question.answers"
                                                :label="item"
                                                :key="item"
                                                color="primary"
                                                multiple
                                                v-model="question.value"
                                                :value="item"
                                                hide-details
                                    ></v-checkbox>
                                </template>
                                <template v-else-if="question.type === 'ratio'">
                                    <v-radio-group v-model="question.value" hide-details class="mb-2">
                                        <v-radio v-for="item in question.answers"
                                                 :key="item"
                                                 :label="item"
                                                 :value="item"
                                                 color="primary"
                                        ></v-radio>
                                    </v-radio-group>
                                </template>
                                <template v-else-if="question.type === 'yes/no'">
                                    <v-radio-group v-model="question.value" hide-details class="mb-2">
                                        <v-radio v-for="item in question.answers"
                                                 :key="item"
                                                 :label="item"
                                                 :value="item"
                                                 color="primary"
                                        ></v-radio>
                                    </v-radio-group>
                                </template>
                            </div>
                        </v-flex>
                        <v-flex xs12 text-xs-center class="mt-4">
                            <v-btn block
                                   @click="complete_survey"
                                   color="indigo" dark>
                                <span>Tiếp tục</span>
                            </v-btn>
                        </v-flex>
                    </v-layout>
                </template>
            </v-card>
        </v-flex>
        <v-snackbar
                v-model="snackbar.showed"
                color="error"
                bottom
        >
            {{ snackbar.error_message }}
            <v-btn
                    dark
                    flat
                    @click="snackbar.showed = false"
            >
                <v-icon>close</v-icon>
            </v-btn>
        </v-snackbar>
    </v-layout>
</template>
<script>
    import MoveToAuth from './move_to_auth'
    import VHeader from '../header'

    export default {
        components: {MoveToAuth, VHeader},
        props: {
            campaign: {type: Object, required: true},
            query: {type: Object, required: true}
        },
        data() {
            return {
                survey_form: {
                    passed: false,
                    error_message: null
                },
                snackbar: {
                    showed: false,
                    error_message: 'Vui lòng trả lời hết các câu hỏi!'
                }
            }
        },
        computed: {
            image_url() {
                let result = null
                if (['xl', 'lg', 'md'].includes(this.screen_size)) {
                    result = this.campaign.images.desktop
                } else {
                    result = this.campaign.images.mobile
                }
                return result || this.common_data.no_image_url
            }
        },
        methods: {
            validate_survey() {
                let questions = this.campaign.questions
                this.snackbar.error_message = ''
                let missed_questions = questions.filter(q => !q.value || !q.value.length)
                if (missed_questions.length) {
                    this.snackbar.showed = true
                    this.snackbar.error_message = `Mục ${missed_questions.map(q => questions.indexOf(q) + 1)} chưa được trả lời.`
                }
                return !missed_questions.length
            },
            map_values() {
                let questions = this.campaign.questions
                questions.forEach(_item => {
                    if (_item.type === 'yes/no') {
                        _item.values = [_item.value === 'yes' ? 1 : 0]
                    } else if (_item.type === 'check_box') {
                        _item.values = _item.answers.map(_asw => {
                            if (_item.value.indexOf(_asw) > -1) return 1
                            return 0
                        })
                    } else {
                        _item.values = _item.answers.map(_asw => {
                            if (_asw === _item.value) return 1
                            return 0
                        })
                    }
                })
                questions = questions.map(_item => {
                    return {
                        question_id: _item.id,
                        values: _item.values
                    }
                })
                this.$store.commit('Campaign/set_survey', questions)
            },
            complete_survey() {
                if (!this.validate_survey()) return
                this.map_values()
                this.snackbar.showed = false
                this.survey_form.passed = true
            }
        }
    }
</script>
