<template>
  <v-layout row wrap fill-height align-center class="ma-0"
            v-resize="handle_window_resize">
    <v-flex text-xs-center xs12
            id="player-container" class="pa-0">
      <vue-player @play="onPlay"
                  :options="video_options"/>
      <div :style="countdown_position"
           id="wrap-login"
           v-if="video_started">
        <template v-if="can_move_forward">
          <v-flex xs12>
            <move-to-auth :query="query" button_size="small"/>
          </v-flex>
        </template>
        <template v-else>
          <v-chip class="ma-0"
                  style="border-radius: 0!important;background-color: #e0e0e0b0 !important;"
                  label disabled>
            <v-progress-circular
              class="mr-2"
              :value="countdown.current * 100/countdown.total" size="15" width="2"/>
            <b class="pt-1">{{Math.round(countdown.total - countdown.current)}} s</b>
          </v-chip>
        </template>
      </div>
    </v-flex>
  </v-layout>
</template>
<script>
  import MoveToAuth from './move_to_auth'

  export default {
    components: {
      MoveToAuth
    },
    props: {
      campaign: {type: Object, required: true},
      query: {type: Object, required: true}
    },
    data () {
      return {
        video_started: false,
        countdown: {
          total: this.campaign.time_skip,
          current: 0
        }
      }
    },
    computed: {
      video_options () {
        return {
          language: 'en',
          muted: true,
          loop: true,
          autoplay: true,
          controls: true,
          sources: [{
            type: 'video/mp4',
            src: this.campaign.video
          }],
          poster: '/static/images/author.jpg',
        }
      },
      can_move_forward () {
        return this.countdown.current >= this.countdown.total
      },
      countdown_position () {
        let player_container = document.getElementById('player-container')
        let top = 0
        if (player_container) {
          top = player_container.offsetTop + player_container.offsetHeight - 80
        }
        return {
          right: '0',
          position: 'absolute',
          top: `${top}px`
        }
      }
    },
    methods: {
      onPlay () {
        if (this.countdown.current >= this.countdown.total) return
        this.video_started = true
        const interval = setInterval(() => {
          if (this.countdown.current >=  this.countdown.total) clearInterval(interval)
          this.countdown.current++
        }, 1000)
      },
      handle_window_resize () {
        this.$forceUpdate()
      }
    }
  }
</script>
<style>
    @media screen and (min-width: 1200px) {
        #wrap-login{
            top: initial !important;
            bottom: 100px !important;
        }
    }
</style>
