<template>
    <v-toolbar fixed flat style="display:flex;justify-content: center;">
        <v-toolbar-title class="white--text" >
            <img width="180"
                 src="@/assets/img/logo.png"
                 alt="">
        </v-toolbar-title>
    </v-toolbar>
</template>
<script>
    export default {
        data() {
            return {
                logo_url: require('@/assets/no_image.png')
            }
        }
    }
</script>
<style>
    .v-toolbar__content{
        height: 67px !important;
        align-items: flex-end !important;
    }
</style>
