<template>
  <v-app>
    <v-content>
      <v-responsive color="grey lighten-2" height="100%">
        <v-container fill-height>
          <v-layout align-center>
            <v-flex text-xs-center>
              <h1>
                <v-icon color="error" style="font-size: 100px">pan_tool</v-icon>
              </h1>
              <v-divider class="my-3"></v-divider>
              <div class="title mb-3">Quyền truy cập bị từ chối.</div>
              <v-btn color="primary" small @click="relog"
                     class="mx-0">Đăng nhập lại</v-btn>
            </v-flex>
          </v-layout>
        </v-container>
      </v-responsive>
    </v-content>
  </v-app>
</template>
<script>
  export default {
      methods: {
          relog () {
              let url = process.env.VUE_APP_MANAGE_URL + '/cas/logout?service='
              url += process.env.VUE_APP_URL
              window.location.replace(url)
          }
      }
  }
</script>