<template>
  <v-responsive color="grey lighten-2" height="100%">
    <v-container fill-height>
      <v-layout align-center>
        <v-flex text-xs-center>
          <v-icon color="error" style="font-size: 100px">pan_tool</v-icon>
          <v-divider class="my-3"></v-divider>
          <h1>403</h1>
          <div class="title mb-3">Bạn không có quyền vào trang này</div>
          <v-btn color="primary" small to="/" class="mx-0">Trang chủ</v-btn>
        </v-flex>
      </v-layout>
    </v-container>
  </v-responsive>
</template>
