<template>
  <v-app>
    <v-content>
      <v-jumbotron color="grey lighten-2" height="100%">
        <v-container fill-height>
          <v-layout align-center>
            <v-flex text-xs-center>
              <h1>
                <v-icon color="error" style="font-size: 100px">do_not_disturb</v-icon>
              </h1>
              <v-divider class="my-3"></v-divider>
              <div class="title mb-3">Không tìm thấy trang này.</div>
              <v-btn color="primary" small to="/" class="mx-0">Trang chủ</v-btn>
            </v-flex>
          </v-layout>
        </v-container>
      </v-jumbotron>
    </v-content>
  </v-app>
</template>
