<template>
  <v-app>
    <v-content>
      <v-responsive color="grey lighten-2" height="100%">
        <v-container fill-height>
          <v-layout align-center>
            <v-flex text-xs-center>
              <h1>
                <v-icon color="error" style="font-size: 100px">error</v-icon>
              </h1>
              <v-divider class="my-3"></v-divider>
              <div class="title mb-3">Server hiện đang bị lỗi, vui lòng quay lại sau.</div>
            </v-flex>
          </v-layout>
        </v-container>
      </v-responsive>
    </v-content>
  </v-app>
</template>
