<template>
    <div id="app">
        <router-view/>
    </div>
</template>
<script>
    export default {
        name: 'App'
    }
</script>
<style>
    @import "assets/css/font.css";
    @import "assets/css/material-icons.css";
    .section-content {
        position: relative;
        top: 80px;
    }

    @font-face {
        font-family: 'harmonia';
        src: url('./assets/fonts/RV-Harmonia-Regular.woff');
        font-weight: 400
    }

    @font-face {
        font-family: 'harmonia';
        src: url('./assets/fonts/RV-Harmonia-SemiBold.woff');
        font-weight: 500
    }

    @font-face {
        font-family: 'harmonia';
        src: url('./assets/fonts/RV-Harmonia-Bold.woff');
        font-weight: 600
    }

    * {
        font-family: 'harmonia', Arial, Helvetica, sans-serif;
    }
</style>
