<template>
    <v-container grid-list-md fluid pa-0>
        <v-layout row ma-0 wrap justify-center>
            <v-flex xs12 pa-0>
                <v-header/>
            </v-flex>
            <v-flex xs12 sm8 md6 lg4 class="mt-2 section-content">
                <template>
                    <v-layout row wrap>
                        <template v-if="screenOtp">
                            <v-flex xs12>
                                <div class="pa-2">
                                    <h2>Xác thực số điện thoại</h2>
                                    <div class="mt-1">
                                        Chúng tôi đã gửi tin nhắn có mã xác thực vào số điện thoại {{phoneNumber}} của
                                        bạn.
                                        <br>
                                        Vui lòng kiểm tra và nhập lại tại đây
                                    </div>
                                </div>
                                <div class="pa-2">
                                    <v-form ref="form-code" v-model="valid" lazy-validation
                                            @submit.prevent="handleVerifyCode()">
                                        <v-text-field label="Mã xác thực"
                                                      v-model.trim="verifyCode"
                                                      ref="otpCode"
                                                      type="tel"
                                                      clearable
                                                      autofocus
                                                      color="indigo" single-line/>
                                    </v-form>
                                </div>
                            </v-flex>
                            <v-flex xs12>
                                <div class="pa-2 mt-3">
                                    <div class="mb-3">
                                        Trong trường hợp bạn không nhận được mã xác thực vui lòng kiểm tra kết nối, dung
                                        lượng bộ nhớ điện thoại hoặc
                                        <a href="#" @click.prevent="handleReSendOtp()">Gửi lại mã xác thực</a>
                                    </div>
                                    <v-btn block class="indigo white--text"
                                           round
                                           :loading="sending"
                                           :disabled="!verifyCode"
                                           @click="handleVerifyCode()">
                                        <span>Tiếp tục</span>
                                    </v-btn>
                                </div>
                            </v-flex>
                        </template>
                        <template v-else>
                            <v-flex xs12 id="input_phone_form">
                                <div class="pa-2">
                                    <h2>Đăng nhập dùng số điện thoại</h2>
                                </div>
                                <div class="pa-2">
                                    <v-form ref="form-phone" v-model="valid" lazy-validation
                                            @submit.prevent="handleSendOtp()">
                                        <v-text-field label="Số điện thoại"
                                                      ref="input-phone"
                                                      :rules="phoneRules"
                                                      v-model.trim="phoneNumber"
                                                      type="tel"
                                                      clearable
                                                      color="indigo" single-line/>
                                    </v-form>
                                </div>
                            </v-flex>
                            <v-flex xs12>
                                <div class="pa-2 mt-3">
                                    <v-btn block class="indigo white--text"
                                           round
                                           :disabled="!valid"
                                           :loading="sending"
                                           @click="handleSendOtp()">
                                        <span>Xác minh số điện thoại</span>
                                    </v-btn>
                                    <div class="mt-3">
                                        Bạn có thể <a href="#" @click.prevent="skipLogin()">bỏ qua</a> bước này để sử
                                        dụng Wifi miễn phí trong 5 phút.
                                    </div>
                                </div>
                            </v-flex>
                        </template>
                    </v-layout>
                </template>
            </v-flex>
        </v-layout>
        <v-snackbar
                v-model="snackbar.showed"
                :color="snackbar.color"
                bottom
        >
            {{ snackbar.message }}
            <v-btn
                    class="ml-2"
                    dark
                    flat
                    @click="snackbar.showed = false"
            >
                <v-icon>close</v-icon>
            </v-btn>
        </v-snackbar>
        <v-dialog
                v-model="dialog"
                persistent
                width="300"
        >
            <v-card
                    color="primary"
                    dark
            >
                <v-card-text>
                    Đang chuyển hướng ...
                    <v-progress-linear
                            indeterminate
                            color="white"
                            class="mb-0"
                    ></v-progress-linear>
                </v-card-text>
            </v-card>
        </v-dialog>
    </v-container>
</template>
<script>
    import {mapState} from 'vuex'
    import VHeader from '../../components/header'
    import splashService from '@/services/splash'
    import Raven from 'raven-js'

    export default {
        components: {VHeader},
        computed: {
            ...mapState('Campaign', {
                campaign_seen: 'seen'
            })
        },
        data() {
            return {
                phoneNumber: '',
                verifyCode: '',
                phoneRules: [
                    v => (!!v || 'Không được bỏ trống!'),
                    v => /^((09|03|08|07|06|01)+([0-9]{8}))$/.test(v) || 'Số điện thoại không hợp lệ, vui lòng kiểm tra lại!'
                ],
                valid: false,
                sending: false,
                screenOtp: false,
                snackbar: {
                    showed: false,
                    message: '',
                    color: 'error'
                },
                dialog: false,
                queryRoute: {}
            }
        },
        methods: {
            handleSendOtp() {
                if (!this.$refs['form-phone'].validate() && !this.screenOtp) return this.$refs['input-phone'].focus()
                this.sending = true
                splashService.sendOtp({phone_number: this.phoneNumber}).then(() => {
                    this.sending = false
                    this.screenOtp = true
                    this.$router.push({
                        name: 'Auth',
                        query: {...this.queryRoute, screen_otp: this.screenOtp, phone_number: this.phoneNumber}
                    })
                }).catch((e) => {
                    this.sending = false
                    this.snackbar.showed = true
                    let errorMessage = (e && e.response) ? (e.response.data.message || e.response.data) : ''
                    if (errorMessage.indexOf('does not validate as phone_number') > -1) errorMessage = `Số điện thoại: ${this.phoneNumber} không hợp lệ. Vui lòng nhập lại số điện thoại!`
                    this.snackbar.message = errorMessage || 'Có lỗi xảy ra!'
                    this.logException(e, 'SEND OTP')
                })
            },
            handleReSendOtp() {
                this.sending = true
                splashService.sendOtp({phone_number: this.phoneNumber}).then(() => {
                    this.sending = false
                    this.snackbar.color = 'success'
                    this.snackbar.showed = true
                    this.snackbar.message = 'Chúng tôi đã gửi lại mã cho bạn, Vui lòng kiểm tra và nhập lại.'
                    setTimeout(() => {
                        this.snackbar.color = 'error'
                    }, 500)
                }).catch((e) => {
                    this.sending = false
                    this.snackbar.showed = true
                    let errorMessage = (e && e.response) ? (e.response.data.message || e.response.data) : ''
                    if (errorMessage.indexOf('invalid verify code') > -1) errorMessage = 'Mã xác thực không hợp lệ, Vui lòng kiểm tra lại!'
                    this.snackbar.message = errorMessage || 'Có lỗi xảy ra!'
                    this.logException(e, 'RESEND OTP')
                })
            },
            handleVerifyCode() {
                let payload = {
                    phone_number: this.phoneNumber,
                    verify_code: this.verifyCode,
                    access_point_device_id: this.queryRoute.access_point_device_id,
                    type: "phone"
                }
                this.handlePost(payload)
            },
            skipLogin() {
                let payload = {
                    access_point_device_id: this.queryRoute.access_point_device_id,
                    request_type: "click",
                    type: "click"
                }
                this.handlePost(payload)
            },
            handlePost(payload) {
                if (this.queryRoute.type === 'survey' && this.survey.length) payload.survey = this.survey
                splashService.login(payload).then((res) => {
                    let data = {
                        ...res,
                        dst: this.queryRoute.redirect_url
                    }
                    this.redirectUrl(data)
                }).catch((e) => {
                    this.snackbar.showed = true
                    this.snackbar.message = (e && e.response) ? (e.response.data.message || e.response.data) : 'Có lỗi xảy ra!'
                    this.logException(e, 'LOGIN')
                })
            },
            logException(ex, context) {
                Raven.captureException(ex, {
                    extra: context
                });
            },
            redirectUrl(data) {
                this.dialog = true
                var xhr = new XMLHttpRequest();
                xhr.open("POST", this.queryRoute.login_url, true);
                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                xhr.onload = () => {
                    location.href = data.dst;
                }
                xhr.onerror = () => {
                    location.href = data.dst;
                };
                xhr.send("username=" + data.username + "&password=" + data.password + "&dst=" + data.dst);
            }
        },
        beforeMount() {
            let queryRoute = this.$route.query
            if (Object.keys(queryRoute).length < 1) return this.$router.push('/campaign')
            this.queryRoute = queryRoute
            this.screenOtp = this.queryRoute.screen_otp || false
            this.phoneNumber = this.queryRoute.phone_number || null
        }
    }
</script>
